<!DOCTYPE html>
<html>
<head>
  <title>Recomendaciones</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <style>
  	ol {
  		font-size: 15pt; 
  	}
  </style>
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Recomendaciones Para Ti</h2>
		<ol class="browser-default">
		
	  <% for(var i=0; i< 20; i++) {%>
	      <li class="quote">
	        <span><%= recomiendaciones[i].titulo %></span>
	      </li>
	  <% } %>

	  </ul>
	</div>
</div>
  
</body>
</html>