<!DOCTYPE html>
<html>
<head>
  <title>Recomendaciones</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Recomendaciones Para Ti</h2>
		<ul class="browser-default">
		
	  <% for(var i=0; i<recomiendaciones.length; i++) {%>
	      <li class="quote">
	        <span><%= recomiendaciones[i].titulo %></span>
	      </li>
	  <% } %>

	  </ul>
	</div>
</div>
  
</body>
</html>